#donate{
position: absolute;
left: 66.19%;
right: 4.11%;
top: 42%;
bottom: 100%;

background: #FFFFFF;

box-sizing: border-box;
}

.donate_content {
    border: 2px solid gray;
    height: 600px;
    
}

.p_edit{
    
    font-weight: bolder;
    position: relative;
    border-bottom: solid 7px#2F4FA1;
 

}




.donate_btn{
position: absolute;
left: 40.92%;
bottom: -100px;
border-radius: 3px;

}