.UserInformation{
    
    position: absolute;
    left: 3.63%;
    top: 105.0%;
    bottom: -0.76%;
    width: 700px;
    border-top: 3px solid  #C4C4C4;
    ;
    
    
}



.userinfo_content{
    position: absolute;
    left: 4.63%;
}





