
/* -- Body
-- Nav
-- login/Register
-- Homepage
-- AdminPage
-- Customize Bootstrap
-- Listing
-- Detail
-- My Profile
-- AboutUs
-- Footer
 */

 /* BODY */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* LOGIN/REGISTER */
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}
.login,
.image {
  min-height: 100vh;
}
.bg-image {
  background-image: url('https://www.eitfood.eu/media/country/top-banners/FOODPAIRING-EATING_THE_GAP_2018-142.jpg');
  background-size: cover;
  background-position: center;
}
.bg-pagetitle{
  background-image: url(https://i.pinimg.com/originals/3f/48/34/3f483410b8f2f1eb486efa7142deefc3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.login-heading {
  font-weight: 300;
}
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-label-group>input,
.form-label-group>label {
  padding: 15px 0;
  border-radius: 0px;
  height: 51px;
  background: transparent !important;
  border: none;
  border-bottom: 1px solid #ced4da;
  box-shadow: none !important;
}
.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}
.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}
.form-label-group input:-ms-input-placeholder {
  color: transparent;
}
.form-label-group input::-ms-input-placeholder {
  color: transparent;
}
.form-label-group input::-moz-placeholder {
  color: transparent;
}
.form-label-group input::placeholder {
  color: transparent;
}
.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}
.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
.btn-google {
  color: white;
  background-color: #ea4335;
}
.btn-facebook {
  color: white;
  background-color: #3b5998;
}

/* AdminPage */
.order-list .btn {
  border-radius: 2px;
  min-width: 121px;
  font-size: 13px;
  padding: 7px 0 7px 0;
}
.osahan-account-page-left .nav-link {
  padding: 18px 20px;
  border: none;
  font-weight: 600;
  color: #535665;
}
.osahan-account-page-left .nav-link i {
  width: 28px;
  height: 28px;
  background: #535665;
  display: inline-block;
  text-align: center;
  line-height: 29px;
  font-size: 15px;
  border-radius: 50px;
  margin: 0 7px 0 0px;
  color: #fff;
}
.osahan-account-page-left .nav-link.active {
  background: #f3f7f8;
  color: #282c3f !important;
}
.osahan-account-page-left .nav-link.active i {
  background: #282c3f !important;
}
.osahan-user-media img {
  width: 90px;
}
.card offer-card h5.card-title {
  border: 2px dotted #000;
}
.card.offer-card h5 {
  border: 1px dotted #daceb7;
  display: inline-table;
  color: #17a2b8;
  margin: 0 0 19px 0;
  font-size: 15px;
  padding: 6px 10px 6px 6px;
  border-radius: 2px;
  background: #fffae6;
  position: relative;
}
.card.offer-card h5 img {
  height: 22px;
  object-fit: cover;
  width: 22px;
  margin: 0 8px 0 0;
  border-radius: 2px;
}
.card.offer-card h5:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #daceb7;
  content: "";
  left: 30px;
  position: absolute;
  bottom: 0;
}
.card.offer-card h5:before {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #daceb7;
  content: "";
  left: 30px;
  position: absolute;
  top: 0;
}
.card.offer-card .card-btn {
  font-size:13px;
  color:#ff3008;
  vertical-align: top !important;
  border:0px !important;
}
.card.offer-card .card-btn:hover {
  color:#0056b3;
}
.payments-item .media {
  align-items: center;
}
.payments-item .media img {
  margin: 0 40px 0 11px !important;
}
.reviews-members .media .mr-3 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.order-list img.mr-4 {
  width: 70px;
  height: 70px;
  object-fit: cover;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
  border-radius: 2px;
}
.osahan-cart-item p.text-gray.float-right {
  margin: 3px 0 0 0;
  font-size: 12px;
}
.osahan-cart-item .food-item {
  vertical-align: bottom;
}
/* //======= */



.banner_css{
  position: absolute;
  width: 100%;
  height: 262px;
  left: 0px;
  top: 59px;
  
  background: #F5F5F5;
  }
  
  .h1_css{
      /* FLYAWAY: EMERGENCY AFGHAN RESCUE MISSION */
  
  position: absolute;
  width: 1293px;
  height: 72px;
  top: 100px;
  
  
  
  
  }
  


  .poster_img{
    position: absolute;
    left: 4%;
    right: 36.73%;
    top: 45%;
    bottom: 52.87%;
    
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    width: 700px;
    height: 450px;
    }


    #UserNameAvatar{
      position: absolute;
      left: 10.63%;
      
      top: 107.0%;
      bottom: -0.76%;
      
  }
  
  .userName{
      position: relative;
     left: 15%;
     top: 7px;
     
      
      
      }
      
  .userAvatar{
      position: absolute;
      left: -55.63%;
      
      top: 1.0%;
      bottom: -0.76%;
      border-radius: 70%;
      width: 40px;
      height: 35px;
  }



  #UserInformation{
    
    position: absolute;
    left: 3.63%;
    top: 112.0%;
    bottom: -0.76%;
    width: 700px;
    border-top: 3px solid  #C4C4C4;
    ;
    
    
}



.userinfo_content{
    position: absolute;
    left: 4.63%;
}



#content_cmt{
  position: absolute;
  left: 3.63%;
  top: 160.0%;
  bottom: -0.76%;
  width: 700px;

}





.avatar_user{
  position: absolute;
  left: 10%;
  border-radius: 70%;
  width: 40px;
  height: 35px;
}

.username_css{
  position:absolute;
  left: 18%;
}


.date_css{
  position: absolute;
  font-size: x-small;
  color: gray;
  left: 18%;
  margin-top: 3%;
}

.cmt_css{
  position: absolute;
  font-size: small;
  left: 17%;
  margin-top: 7%;
  border-bottom: 2px solid gray;
  color:gray;

}

.btn_css:hover,
		.btn:focus {
			box-shadow: inset 0 0 0 2em var(--hover);
		}
    .btn_css {
			--color: #ff4500;
			--hover: #ff4500;}

.btn_css {

 
  margin-right: 1%;

  background-color: white;
  font-weight: bolder ;
  margin-right: 1%;
  border-radius: 12px;
  border-color: #ff4500;
  margin-bottom: 1%;
  height:30px;
  font-size: 6pt;
  width:50px;
  margin-bottom: 1%;
  height:30px;
  width:50px;
  
  
}




.btn_edit{
  
  position: relative;
  left:-40%;
  margin-bottom: 2%;
  
}


#donate{
  position: absolute;
  left: 66.19%;
  right: 4.11%;
  top: 45%;
  bottom: 100%;
  
  background: #FFFFFF;
  
  box-sizing: border-box;
  }
  
  .donate_content {
      border: 2px solid gray;
      height: 600px;
      
  }
  
  .p_edit{
      
      font-weight: bolder;
      position: relative;
      border-bottom: solid 7px#2F4FA1;
   
  
  }
  
  
  
  
  .donate_btn{
  position: absolute;
  left: 40.92%;
  bottom: -100px;
  border-radius: 3px;
  
  }


  #aboutUs{
    position: relative;
    top: 200px;

  }

  #aboutUs h1{
    font-family: 'Kaushan Script', handwriting;
    font-size: 3rem;
    
  }


  .content_aboutus{
    width: 700px;
    margin:0 auto;

  }

  
  



.img_team{
  position: relative;
  top: 50px;
}
  .team_avatar{
    
    border-radius: 360px;
    margin-right: 30px;
    width: 170px;
    height: 170px;
    border-color: black;
  }

  

#aboutUs  h2{
  font-family: 'Kaushan Script', handwriting;
    font-size: 3rem;
    text-align: center;
}


.container_team {
  margin: 20px 40px;
  color: white;
}


.profile_team {
  display: flex;
  
  margin: 30px 10px;
  padding-bottom: 300px;
}

.profile_member {
  flex-basis: 260px;
}

.profile_member .profile-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  
  cursor: pointer;
  transition: 400ms;
}

.profile_member:hover .profile-img {
  filter: grayscale(0);
}

.user-name {
  margin-top: 30px;
  font-size: 35px;
}

.profile_member h5 {
  font-size: 18px;
  font-weight: bolder;
  color: gray;
}




@media only screen and (max-width: 1150px) {
  .profile_team {
    flex-direction: column;
  }

  .profile_member {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media only screen and (max-width: 900px) {
  
  .profile_team {
    margin: 20px 0;
  }
}


*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  box-sizing: border-box;
}



.contact-info{
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}


.icon_css{
  position: relative;
  margin-right: 150px ;
  text-align: center;
  
  left:50px;

  
}


.contact_btn  {
border:none;
background-color: white;

}

.contact_btn p{
  color: gray;
  font-weight: bolder;
  position:relative;
  left:-20px;
  top: 15px;
}




.icon_css:hover {
  color: red;
}










/* >>>>>>> 71af8d2afa8c12b33c78ddd72130b420b212f68f */
